@font-face {
    font-family: 'Open Sans';
    src: url("/next/font/google/");
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f4f3f3;
}

* {
    scroll-behavior: smooth;
}

ol,
ul,
li {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
}

.next-image {
    height: auto;
    width: 100%;
    max-width: 400px;
}

.mx-auto {
    margin: 0 auto;
}

.d-block {
    display: block;
}

.h-auto {
    height: auto;
    width: 100%;
}

.shadow {
    box-shadow: -2px 5px 24px -13px grey;
}

.image-inset-shadow {
    box-shadow: inset 7px 9px 29px -2px #080808;
    border-radius: 50%;
}

.iframe-test {
    display: none;
    visibility: hidden;
}

.temp-size {
    width: 1.2rem;
}